<!-- Interpolation -->
<h2>Welcome to {{hotelName}}</h2>

<!-- Property Binding - Box Syntax -->
<div [hidden]="hideRooms">
    This hotel has rooms = <span [innerText]="numberOfRooms"></span>
</div>

<!-- Event Binding - Circle Syntax -->
<button (click)="toggle()">Toggle Me!</button>

<!-- ngIf -->
<div *ngIf="numberOfRooms > 0">
    This is displayed when expression in *ngIf is true
</div>

<!-- json pipe -->
{{rooms | json}}

<!-- Call child component and pass data -->
<app-room-list [rooms]="rooms"></app-room-list>
<!-- ngSwitch -->
<div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
        Welcome to Admin Section
    </div>
    <div *ngSwitchCase="'User'">
        Welcome to User Section</div>
    <div *ngSwitchDefault>
        You're not authorized!
    </div>
</div>