<!-- Interpolation -->
<h2>Welcome to {{hotelName}}</h2>

<!-- Property Binding - Box Syntax -->
<div [hidden]="hideRooms">
    This hotel has rooms = <span [innerText]="numberOfRooms"></span>
</div>

<!-- Event Binding - Circle Syntax -->
<button (click)="toggle()">Toggle Me!</button>

<!-- ngIf -->
<div *ngIf="numberOfRooms > 0">
    This is displayed when expression in *ngIf is true
</div>

<!-- ngFor -->
<table border="1">
    <thead>
        <th>Index</th>
        <th>Even/Odd</th>
        <th>Room No</th>
        <th>Room Type</th>
        <th>Facilities</th>
        <th>Checkin Time</th>
        <th>Checkout Time</th>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms; let e=even; let o=odd; let i=index">
            <td>{{i+1}}</td>
            <td>{{e?'Even':'Odd'}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.facilities}}</td>
            <td>{{room.checkinTime.toDateString()}}</td>
            <td>{{room.checkoutTime.toDateString()}}</td>
        </tr>
    </tbody>
</table>